.hero {
    background-image: url(../../src/assets/hero_bcg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 500px) {
        display: none;
    }
}

.hero__title {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    margin-bottom: auto;
    margin-top: 50px;

    @media (max-width: 900px) {
        font-size: 70px;
        margin-top: 40px;
    }

    @media (max-width: 700px) {
        font-size: 60px;
    }

    @media (max-width: 530px) {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.hero__text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    max-width: 422px;
    margin-bottom: 20px;

    @media (max-width: 900px) {
        font-size: 18px;
    }

    @media (max-width: 530px) {
        font-size: 16px;
        font-weight: 500;
    }
}

.hero__btn {
    display: inline-block;
    border-radius: 30px;
    background-color: $accent;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    padding: 20px 54px;
    transition: all 1s;

    @include hover-effect-btn($accent);

    @media (max-width: 900px) {
        padding: 10px 30px;
    }
}

.hero__scroll {
    height: 40px;
    width: 40px;
    color: $white;
    border-radius: 50%;
    border: 1px solid $white;
    margin: 0 auto 15px;
    transition: all 0.5s;

    &:hover {
        background-color: rgba($white, 10%);
    }

    @media (max-width: 600px) {
        height: 26px;
        width: 26px;
    }
}

.hero__arrow {
    display: block;
    font-size: 28px;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 18px;
    }
}
