.main-directions {
    background-image: linear-gradient(to top, rgba($accent, 75%), rgba($accent, 75%)),
        url(../../src/assets/panorama.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 32px;
    padding-bottom: 50px;
    text-align: center;
    color: $white;
}

.main-directions__title {
    @include h2-text;
    margin-bottom: 50px;
}

.main-directions__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 232px);
    grid-template-rows: repeat(auto-fit, 165px);
    column-gap: 56px;
    row-gap: 74px;
    justify-content: center;

    @media (max-width: 576px) {
        column-gap: 10px;  
        row-gap: 40px;              
    }
}

.main-directions__item {
    display: flex;
    flex-direction: column;
}

.main-directions__img {
    width: 85px;
    height: 85px;
    border: 1px solid $white;
    border-radius: 50%;
    text-align: center;
}

.main-directions__icon {
    margin-top: calc(50% - 23px);
}

.main-directions__text {
    max-width: 232px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    margin-top: 15px;
}

.main-directions__link:hover {
    text-decoration: underline;
}
