.map {
    text-align: center;
    padding: 100px 0 110px;

    @media (max-width: 900px) {
        padding: 20px 0;
    }
}

.map__title {
    @include h2-text;
    margin-bottom: 33px;

    @media (max-width: 900px) {
        font-size: 30px;
    }
}

.map__wrapper {
    max-width: 1120px;
    width: 100%;
}