.offers {
    text-align: center;
    padding: 100px 0 82px;

    @media (max-width: 600px) {
        padding: 50px 0 35px;
    }
}

.offers__title {
    @include h2-text;
    margin-bottom: 40px;
    font-weight: 700;

    @media (max-width: 600px) {
        font-size: 30px;
    }
}

.offers__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    grid-template-rows: repeat(auto-fit, 256px);
    grid-auto-flow: dense;
    justify-content: center;
    gap: 32px;
    padding-bottom: 82px;
    border-bottom: 1px solid $grey;

    @media (max-width: 570px) {
        grid-template-columns: repeat(auto-fit, 220px);
        grid-template-rows: repeat(auto-fit, 220px);
        gap: 26px;
        padding-bottom: 40px;
    }

    @media (max-width: 465px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.offers__item {
    width: 256px;
    height: 256px;
    position: relative;
    text-align: left;
    transition: all 0.5s;

    &:hover {
        box-shadow: 4px -4px 4px $grey;
    }

    @media (max-width: 570px) {
        width: 220px;
        height: 220px;
    }

    @media (max-width: 465px) {
        width: 256px;
        height: 256px;
    }
}

.offers__item:nth-child(3),
.offers__item:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
    width: 544px;
    height: 544px;

    & h3 {
        font-size: 24px;

        @media (max-width: 600px) {
            font-size: 20px;
        }

        @media (max-width: 465px) {
            font-size: 16px;
        }
    }

    @media (max-width: 570px) {
        width: 464px;
        height: 464px;
    }

    @media (max-width: 465px) {
        width: 256px;
        height: 256px;
    }

    img {
        @media (max-width: 570px) {
            max-width: 464px;
            max-height: 464px;
        }

        @media (max-width: 465px) {
            max-width: 256px;
            max-height: 256px;
        }
    }
}

.offers__subtitle {
    position: absolute;
    top: 16px;
    left: 16px;
    @include h3-text;

    @media (max-width: 600px) {
        font-size: 16px;
    }
}

.offers__link:hover {
    text-decoration: underline;
}

.offers__img {
    object-fit: cover;

    @media (max-width: 570px) {
        max-width: 220px;
        max-height: 220px;
    }

    @media (max-width: 465px) {
        max-width: 256px;
        max-height: 256px;
    }
}

.offers__price {
    position: absolute;
    bottom: 19px;
    left: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $white;
}

.offers__countries {
    position: absolute;
    top: 90px;
    left: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $white;
}

.offers__days {
    @extend.offers__countries;
    top: 150px;
}
