.progress {
    padding: 40px 0 100px;

    @media (max-width: 900px) {
        padding: 10px 0 30px;
    }
}

.progress__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.progress__item {
    text-align: center;
    width: 130px;

    &:nth-child(4) {
        width: 277px;
    }

    &:nth-child(5) {
        width: 140px;
    }

    @media (max-width: 900px) {
        margin: 20px;
    }
}

.progress__numbers {
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 130%;
    color: $accent;

    @media (max-width: 600px) {
        font-size: 48px;
    }
}

.progress__text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $black;

    @media (max-width: 600px) {
        font-size: 16px;
    }
}
