@mixin h2-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

@mixin h3-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $white;
    text-transform: uppercase;
}

@mixin h4-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
}

@mixin footer-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

@mixin body-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

@mixin placeholder-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $grey;
    text-align: left;
}

@mixin hover-effect-btn($color) {
    &:hover {
        transform: scale(1.1);
        background-color: lighten($color, 10%);
    }
}
